<!-- views/partials/headers.ejs -->
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon glyphicon-tree-conifer"></span>
            <strong>Gazlog</strong>
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/about"><strong>About</strong></a></li>
            <li><a href="/sending"><strong>Sending</strong></a></li>
        </ul>
    </div>

</div>
</nav>