<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h2 class="text-center">Who do you adventure with?</h2>
        <button type="button" class="btn-default btn-lg btn-block"><strong>Thumbs Up Gang</strong></button>
        <button type="button" class="btn-default btn-lg btn-block"><strong>Shimmy Squad</strong></button>
    </div>
    <div class="jumbotron">
        <h2 class="text-center">Introduction</h2>
        <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>