<!-- views/pages/sending.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div>
    <div class="jumbotron">
        <h2>Sending</h2>
        <p>
            You send a short message of <strike>twenty-five</strike> ______ words or less to a creature with whom you are familiar. The creature <strike>hears the message in its mind</strike> reads the message in a log, <strike>recognizes you as the sender if it knows you</strike> recognizes you as the sender only if an email is included, and can answer in a like manner (if an email address is included). The spell enables creatures with Intelligence scores of at least 1 to understand the meaning of your message.
        </p>
        <p>
            You can send the message across any distance and even to other planes of existence, but if the target is on a different plane than you, there is a 5 percent chance that the message doesn’t arrive. 
        </p>
        <div class="contact">
            <form method="post" action="/sending" novalidate>
                <div class="form-field">
                    <p>
                        <input type="text" class="form-control" name="email" size="36" placeholder="Email (optional)">
                    </p>
                </div>
                <div class="form-field">
                    <p>
                        <textarea name="message" class="form-control" data-required="true" placeholder="Message"></textarea>
                    </p>
                </div>
                <div class="form-actions">
                    <p>
                        <input type="submit" name="send" value="Send" id="submit">
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>